#menu{
    text-align: center;
}

.menu_div{
    display: inline-block;
    margin: 50px;
}
.menu_title{
    font-weight: 700;
    font-size: 20px;
}
.menu_button{
    font-size: 10px;
    width: 150;
    height: 30px;
}
.menu_img{
    width: 300px;
    height: 300px;
}
#set{
    text-align: center;
}